<h1>Ruby on Rails スケジュール管理アプリ</h1>

<h3>スケジュール一覧</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>スケジュール更新日時</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th><%= post.id %></th>
        <th><%= post.title %></th>
        <th><%= post.start %></th>
        <th><%= post.end %></th>
        <th><%= post.all ? '○' : '' %></th>
        <td><%= post.updated_at.to_s(:datetime_jp) %></td>
        <th><%= link_to "確認", post %></th>
        <th></th>
        <th></th>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "スケジュール新規登録", :new_post %></p>

<h1>
  <script>
    var today=new Date(); 

    var year = today.getFullYear();
    var month = today.getMonth()+1;
    var week = today.getDay();
    var day = today.getDate();

    var week_ja= new Array("日","月","火","水","木","金","土");

    document.write("現在の日時:"+year+"年"+month+"月"+day+"日 "+week_ja[week]+"曜日");
  </script>
</h1>


